.schedule-container {
  margin: {
    top: 4rem;
  }
}
.schedule_box {
  width: 16rem;
  height: 25rem;
  border: solid 1px black;
  position: relative;
  float: left;
  margin: 0.2rem;
  padding: 1rem;
  text-align: center;
  p {
    font-size: 13pt;
  }
}
.sunday {
  border: solid 1px red;
  background: {
    color: #F5E3E3;
  }
  p {
    color: red;
  }
}
.today {
  background: {
    color: #F4FF81;
  }
}
.event {
  border: 1px solid black;
  min-height: 200px;
}
